.board-controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}

.whiteboard {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  border: 1px;
  border-color: solid red;
  position: relative;
}

.colors {
  justify-content: center;
  position: relative;
  background-color: #FE00FE;
  border-radius: 35px;
  width: 95%;
  margin-top: 1%;
}

.color {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-left: 11%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 50%;
}

.color.black {
  background-color: black;
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.yellow {
  background-color: yellow;
}