.board-controller {
  height: 75vh;
  width: 50vw;
}

.whiteboard {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px;
  position: relative;
}

.colors {
  justify-content: center;
  position: relative;
  background-color: #FE00FE;
  border-radius: 35px;
  width: 96%;
  margin: 3%;

}

.color {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 4%;
  margin-left: 5%;
}

.color.black {
  background-color: black;
  /* margin-left: 8%; */
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.yellow {
  background-color: yellow;
}

.color.orange {
  background-color: orange;
}