.finalWinner {
    background-image: url('../../Assets/backgrounds/finalbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: block;
}


.banner {
    text-align: center;
    height: fit-content;
    width: 87%;
    /* margin: 5%; */
}

.finalWinner h2 {
    margin-bottom: 12%;
    font-family: 'Sniglet';
    font-size: 80px;
    font-weight: bold;

    background-color: #FF6E27;
    box-shadow: #37319D 15px 15px;
    border-radius: 35px;
    color: #37319D;
    width: 50%;
    padding: 2%;
}



.final-banner {
    width: 60%;
}

.yoyo {
    width: auto;
    height: 40%;
}

.gameOver {
    height: auto;
    width: 20%;
}

.finalscore {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 48%;
    margin: auto;
}