@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sniglet:wght@400;800&display=swap');

.homebg {
    background-image: url('../../Assets/backgrounds/landing.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.home {
    background-color: white;
    border: 5px solid #FE00FE;
    border-radius: 25px;
    height: 80%;
}