@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

.homebg {
    background-image: url("../../Assets/images/monsteradark.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.home-banner {
    padding-top: 190px;
    font-family: 'Delius Unicase';
}

.blink {
    animation: blinker 5s linear infinite;
    color: rgb(213, 227, 208);
    font-size: 60px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}