.InGamebg {
    background-image: url('../../Assets/backgrounds/gamebg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: block;
}

.container-ingame {
    position: absolute;
    background-color: black;
    border: 5px solid #FE00FE;
    border-radius: 35px;
    /* height: 90vh; */
    top: 5%;
    left: 4%;
}