@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sniglet:wght@400;800&display=swap');

.UserSelectbg {
    background-color: #7700A6;
    height: 100vh;
    width: auto;
}

.lobby {
    background-image: url('../../Assets/backgrounds/wavesbg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-color: black;
    border: solid 5px #FE00FE;
    border-radius: 25px;
    height: 95%;
    width: auto;
    top: 3%;
}

.smolbox {
    background-color: black;
    border: solid 2px #FE00FE;
    border-radius: 25px;
    height: 60%;
    width: 90%;
    top: 6%;
}

h2.startbutton {
    font-size: 5vw;
}

.container-lobby {
    margin: 5%;
    position: relative;
    display: flex;
    justify-content: center;

}

.lobby-text {
    background-color: #DEFE47;
    width: 50%;
    height: 150px;
    border-radius: 35px;
    box-shadow: 20px 15px #37319D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text-lobby {
    font-size: 50px;
    color: #37319D;
}

.message-box {
    background-color: white;
    color: black;
    justify-content: center;
    top: 5%;
    left: 25%;
}

.container .message-box {
    width: 50%;
    height: 90%;
    border-radius: 30px;
}

.message-input {
    position: absolute;
    display: block;
    flex-wrap: wrap;
    bottom: 3%;
    width: 100%;
}

.user-text {
    width: 80%;
    flex-wrap: wrap;
}

.user-submit {
    width: 15%;
    flex-wrap: wrap;
    border-radius: 20px;

}

.message-body {
    position: relative;
    color: black;
    text-align: start;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
}

.message-bubbles {
    color: #0016EE;
    background-color: #DEFE47;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    margin: 10px;
}

.message-bubbles h4 {
    font-size: 15px;
}

.userinput-lobby {
    position: sticky;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    /* position: sticky; */
    /* margin: 1%; */
    /* bottom: 6%; */
}

.lobby-body {
    line-height: 40px;
    width: 55%;
    /* margin-left: 1%; */
    border-radius: 25px;
    background-color: #DEFE47;
    font-family: 'Sniglet';
    font-size: 30px;
    padding: 2px;
}

.userinput-subitlobby {
    line-height: 40px;
    width: 25%;
    margin-left: 1%;
    border-radius: 25px;
    background-color: #DEFE47;
    font-family: 'Sniglet';
    font-size: 30px;
    padding: 2px;
}