.losinganswer {
    background-image: url('../../Assets/backgrounds/losinganswer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: block;
}