body {
    background-image: url("../../Assets/images/monsteradark.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}


.profile {
    /* height: 20px; */
    margin: 0%;
    padding: 0%;
}

main {
    color: white
}

.body {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px; */
    /* margin-right: 100px; */
    background: rgba(114, 127, 99, 0.79);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

h1 {
    font-size: larger;
}